<% provide(:title, "About") %>

<section id="about" class="about">
  <div class="container">
    <div class="row mb-5 position-relative">
      <div class="col-lg-7 about-img"></div>
      <div class="col-lg-7">
        <h2>知識は武器だ</h2>
        <div class="our-story">
          <h4 class="text-center">CONCEPT</h4>
          <h3 class="text-center">知識の記録・共有</h3>
          <p>
            「MUSIQUE」は楽曲制作に関する知識を記録・共有するためのサービスです。
            記事を読むこと、記事を書くことを通して、読む側・書く側それぞれがお互いに関わり合いを持ち、
            情報をみんなで育てていくことで、学んだり悩んだりするクリエイターが使う時間を減らし、
            互いの成長や生産性をスピードアップさせることを目指します。<br>
            <br>
            より多くの情報をMUSIQUEで発信し、そして他のクリエイターの記事を読むことで知識を増やしていきましょう。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="explanation d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="explanation-head">「誰か」とつながる場として</h2>
            <p class="explanation-text">
              記事を読んだり書いたりすることは、その行為だけにとどまらず、
              記事を通して誰かとつながるきっかけとなります。
              同じ分野に関心を持っている方や方や音楽的指向が似たような方と、
              MUSIQUEの記事を通してつながることができるかもしれません。
              そしてそのつながりを、また新たな発見の場や活躍の場としていきましょう。
            </p>

            <h2 class="explanation-head">アイデンティティを確立し表現する場として</h2>
            <p class="explanation-text">
              知識やノウハウを発信し評価されること、また読んで面白いと思った記事を評価することを通して、
              あなたがどんな強みや関心を持ったエンジニアなのか表現することを支援します。
              MUSIQUE上で発信や評価などの活動をすればするほど、ほかのクリエイターとつながり、
              互いに成長していける場所を目指しています。
            </p>

            <%= link_to "新規登録する", signup_path, class: "btn-get-started" %>
          </div>
        </div>
      </div>
    </div>
</section>
