<% provide(:title, "Help") %>

<section id="help" class="help">
  <div class="explanation d-flex align-items-center">
    <div class="container">
      <h1>よくあるご質問</h1>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <dl>
            <dt>OAuth認証って安全なの？</dt>
            <dd>
              MUSIQUEではGoogleに紐付いたユーザー情報を用いて新規登録・ログイン
              することが可能ですが、これらのサービスへユーザーが把握しないような
              操作、情報利用を行うことはありません。
              また、最低限の情報を取得しアカウント生成を行い、弊社のデータベースには
              その情報は保存されないものとなっております。
            </dd>

            <dt>アカウント有効化用のメールが届きません</dt>
            <dd>
              メールが届かない場合はスペルに間違いがないか、フィルターを設定していないか確認してみてください。
            </dd>

            <dt>パスワードを忘れてしまいました...</dt>
            <dd>
              パスワードを忘れてしまった場合は、
              <%= link_to "パスワード再設定ページ", new_password_reset_path %>
              から再設定することが出来ます。Googleとの連携でアカウントを作成した方でも、
              こちらからパスワードを設定することが可能です。<br>
              <br>
              なお、パスワード再設定のメールを送ることが可能なのは、
              MUSIQUEに登録したメールアドレスのみとなっておりますのでご注意ください。
            </dd>

            <dt>記事にファイルを添付するにはどうしたらいい？</dt>
            <dd>
              新規投稿画面、または記事編集画面にて、テキストボックスの上にある
              クリップマークを押下して添付したいファイルをご選択ください。<br>
              <br>
              また、添付したいファイルを直接ドラッグ＆ドロップすることでも添付が可能です。
            </dd>
          </dl>
        </div>
    </div>
  </div>
</section>
