<% provide(:title, "Help") %>

<section id="help" class="help">
  <div class="explanation d-flex align-items-center">
    <div class="container">
      <h1>よくあるご質問</h1>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <dl>
            <dt>ふるごおりみさきが腕の毛をむしってきます。どうしたらいいですか？</dt>
            <dd>ぶん殴りましょう</dd>

            <dt>質問タイトル</dt>
            <dd>回答内容<br>回答内容</dd>

            <dt>質問タイトル</dt>
            <dd>回答内容<br>回答内容</dd>
          </dl>
        </div>
    </div>
  </div>
</section>
