<% provide(:title, "採用情報") %>

<section id="company" class="company">
  <div class="explanation d-flex align-items-center">
    <div class="container">
      <h1 class="border-bottom">会社概要</h1>
      <div class="row justify-content-center">
        <div class="col-lg-9 m-auto">
          <div class="article">
            <dl class="definition-list mb-5">
              <dt class="list-label">会社名</dt>
              <dd class="list-content">MUSIQUE株式会社</dd>

              <dt class="list-label">英文社名</dt>
              <dd class="list-content">MUSIQUE Inc.</dd>

              <dt class="list-label">設立</dt>
              <dd class="list-content">2023年7月25日</dd>

              <dt class="list-label">資本金</dt>
              <dd class="list-content">1000万円</dd>

              <dt class="list-label">本社所在地</dt>
              <dd class="list-content">
                〒359-8501<br>
                埼玉県所沢市並木一丁目１番１号
                <div class="company-googlemap mt-3">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.020085642023!2d139.466219475327!3d35.799440223472224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018dd9362734ed3%3A0xd9ebc4b01e6e857f!2z5omA5rKi5biC5b255omA!5e0!3m2!1sja!2sjp!4v1690204738775!5m2!1sja!2sjp"
                    width="100%"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
                </div>
              </dd>

              <dt class="list-label">連絡先</dt>
              <dd class="list-content">
                <%= link_to "お問い合わせはこちら", contact_path %>
              </dd>

              <dt class="list-label">主な事業内容</dt>
              <dd class="list-content">
                楽曲制作に関する知識を記録・共有するためのサービス「MUSIQUE」の企画・開発・運営
              </dd>

              <dt class="list-label">代表者</dt>
              <dd class="list-content">代表取締役社長  望月 武士</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
