<% provide(:title, "採用情報") %>

<section id="jobs" class="jobs">
  <div class="explanation d-flex align-items-center">
    <div class="container">
      <h1 class="pb-5 border-bottom">採用情報</h1>
      <div class="row justify-content-center">
        <div class="col-lg-9 m-auto">
          <p class="explanation-text text-center">
            現在弊社では新規採用予定はございません。<br>
            状況によりこちらで募集を発信いたします。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
