<section id="privacy" class="terms-privacy">
  <div class="explanation d-flex align-items-center">
    <div class="container">
      <h1>プライバシーポリシー</h1>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2></h2>
          <p class="explanation-text">
            MUSIQUE株式会社（以下「当社」といいます）は､当社がお預かりする様々な個人情報に対し、個人情報保護の社会的重要性を鑑み以下の方針に基づき個人情報の保護に努めます。
          </p>
          <h2>Welcome to <span>UpConstruction</span></h2>
          <p class="explanation-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>

          <h2>Welcome to <span>UpConstruction</span></h2>
          <p class="explanation-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>
</section>
