<% provide(:title, "プライバシーポリシー") %>

<section id="privacy" class="terms-privacy">
  <div class="explanation d-flex align-items-center">
    <div class="container">
      <h1>プライバシーポリシー</h1>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2></h2>
          <p class="explanation-text">
            MUSIQUE株式会社（以下「当社」といいます）は､当社がお預かりする様々な個人情報に対し、
            個人情報保護の社会的重要性を鑑み以下の方針に基づき個人情報の保護に努めます。
          </p>

          <h2>第一章: 個人情報保護基本方針</h2>
          <ol>
            <li>
              当社は、個人情報を取得する際には、法令で例外として定められる場合を除き、
              利用目的を通知または公表し、適法かつ公正な手段によって取得いたします。
              また、特定した利用目的の達成に必要な範囲を超えた、個人情報の目的外利用はいたしません。
            </li>
            <li>
              当社は、個人の尊厳を重んじ、個人情報に関する法令と国が定める指針その他の規範等、
              社会秩序を遵守のうえ、社内の規程類に則り、当社が保有する個人情報の保護に努めます。
            </li>
            <li>
              当社は、個人情報を取扱う個人情報保護管理責任者を定め、適切な管理を行い、
              個人情報の漏洩、滅失または毀損のリスクを認識して、
              防止のための合理的な安全対策を講じかつ、是正します。
              また、利用目的の達成に必要な範囲内において、当社の保有する個人情報を
              正確かつ最新の内容に保つように努めます。
            </li>
            <li>
              当社は、個人情報保護のための社内体制を整備し、
              これを実効あるものとして運用するとともに、適切な保護体制を維持するために、
              経営環境、情報技術動向などからマネジメントシステムを継続的に改善していきます。
            </li>
            <li>
              当社は、個人情報に関わる苦情及び相談への
              <%= link_to "対応窓口", contact_path %>
              を設置し迅速かつ適切な対応に努めます。
            </li>
          </ol>

          <h2>第二章: 個人情報の取扱いについて</h2>
          <p class="privacy-text">
            当社は、収集した個人情報に関して、個人情報保護に関する法令その他の
            規範を遵守し、以下で述べる内容に従い適正に取り扱うことをお約束し、
            個人情報の収集に際して、以下の事項を通知いたします。
          </p>
          <h3>1. 個人情報の安全管理について</h3>
          <p class="privacy-text">
            1.1 当社は、個人情報の漏洩、滅失、破棄毀損等の防止のために、法令、
            ガイドライン及び社内規程に従い、適切な安全管理策を施し、
            保有する個人情報の保護に努めます。また、従業員に対しても個人情報の
            適切な取扱い等についての教育を行い、その保護に万全を期するよう努めます。
          </p>
          <p class="privacy-text">
            1.2 当社は、利用目的の達成のために必要な範囲内で、
            個人情報の取扱いの全部または一部を第三者に委託する場合があります。
            この場合、委託先において個人情報の安全管理が図られるよう、
            必要かつ適切な監督を行います。
          </p>
          <p class="privacy-text">
            1.3 当社が講じる安全管理措置の詳細を確認されたい場合は、
            第一章 個人情報保護基本方針５．に記載の「お客様対応窓口」にお問い合わせください。
          </p>

          <h3>2. 個人情報の取得と利用目的について</h3>
          <p class="privacy-text">
            2.1 個人情報の定義<br>
            個人情報とは、生存する個人に関する以下の情報を指します。<br>
            (1) 当該情報に含まれる氏名、生年月日その他の記述等により、
            特定の個人を識別することができるもの<br>
            (2) 個人識別符号（個人情報保護法第2条第2項の定めと同義とします）が含まれるもの
          </p>
          <p class="privacy-text">
            2.2 個人情報の利用目的<br>
            当社は、特に目的を明示しない限り、次に掲げる目的で個人情報を取得し、
            当該目的の達成に必要な範囲内において利用いたします。<br>
            (1) 当社が提供するサービス（以下「当社サービス」といいます）に関連して<br>
            ① 当社サービスの提供及びご案内並びに提携事業者（当社サービスを提供するにあたり、
            当社と提携した者をいい、以下同じとします）が提供するサービスのご案内のため<br>
            ② 当社サービスの運営並びにこれらの開発、運用及び保守のため<br>
            ③ 当社サービスのうち、各種会員サービスへの登録及びその確認、並びに会員サービス提供のため<br>
            ④ 当社サービスの利用状況の確認のため<br>
            ⑤ 当社サービスの向上、改善に向けた情報収集及び、新たなサービスを開発するため<br>
            ⑥ 当社サービスのメンテナンス情報、その他当社サービスをご利用いただく上で
            重要となる事項をお知らせするため<br>
            ⑦ 当社サービス等の安全なご提供を確保するため<br>
            ⑧ 当社のメールマガジンの配信のため<br>
            ⑨ 当社が主催・協賛等によって関与するイベント等の案内及び運営のため<br>
            ⑩ 当社サービスに関する情報提供や、キャンペーンのご連絡のため<br>
            ⑪ 当社サービスに関するアンケート実施のため<br>
            ⑫ 当社サービスを通じて購入された商品及びキャンペーンやアンケートに対する景品・謝礼の発送のため<br>
            ⑬ 適切な広告配信の実施に向けたマーケティング調査のため<br>
            ⑭ 当社サービスの利用に関わる統計資料作成のため<br>
            ⑮ 当社及び当社グループ会社並びに提携事業者並びに広告主が取り扱っている
            商品・サービスに関する営業上のご案内のため<br>
            ⑯ 当社へのご質問、お問い合わせなどに回答するため<br>
            (2) お取引先に対して<br>
            ① 当社の営業活動、連絡のため<br>
            ② 当社サービスの改善及びマーケティング調査並びに新たなサービスを開発するため<br>
            ③ 当社が主催・協賛等によって関与するイベント等の案内及び運営のため<br>
            ④ 当社サービスに関するアンケート実施のため<br>
            (3) 当社採用情報へ応募される方に対して<br>
            ① 応募確認及び選考のため<br>
            ② 選考に関するご連絡のため<br>
            ③ 内定後の各種条件設定及び採用確定後の手続きのため<br>
          </p>

          <h3>3. 免責事項について</h3>
          <p class="privacy-text">
            当社サイトから、リンクやバナーなどにより当社が運営する以外のサイトに移動された場合、
            移動先サイトで提供される情報、サービス等については、当社は一切の責任を負いません。
          </p>

          <h3>4. 改訂について</h3>
          <p class="privacy-text">
            MUSIQUE株式会社は、法令の変更またはサービス提供内容の変更に伴い、
            本プライバシーポリシーを変更することがあります。
          </p>
          <hr>

          <ul>
            <li>2023年 7月25日 制定</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
