<section id="terms" class="terms-privacy">
  <div class="explanation d-flex align-items-center">
    <div class="container">
      <h1>利用規約</h1>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2></h2>
          <p class="explanation-text">
            MUSIQUE株式会社（以下「当社」といいます。）が提供するDAW・DTMに関する知識を記録・共有するためのサービスMUSIQUEは、以下の通り利用規約を定めます。MUSIQUEを利用する登録ユーザー（第1条で定義します。）は、この利用規約を読んだ上で利用するものとします。
          </p>
          <h2>Welcome to <span>UpConstruction</span></h2>
          <p class="explanation-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>

          <h2>Welcome to <span>UpConstruction</span></h2>
          <p class="explanation-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>
</section>
