<% provide(:title, "利用規約") %>

<section id="terms" class="terms-privacy">
  <div class="explanation d-flex align-items-center">
    <div class="container">
      <h1>利用規約</h1>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2></h2>
          <p class="explanation-text">
            MUSIQUE株式会社（以下「当社」といいます。）が提供する楽曲制作に関する知識を
            記録・共有するためのサービスMUSIQUEは、以下の通り利用規約を定めます。
            MUSIQUEを利用する登録ユーザー（第1条で定義します。）は、この利用規約を読んだ上で利用するものとします。
          </p>

          <h2>第一章: 定義及び本規約について</h2>
          <h3>第１条(定義)</h3>
          <ol>
            <li>
              Qiita利用規約で使用する用語は各々以下に定める意味を有するものとします。
            </li>
          </ol>
          <div class="article">
            <dl class="definition-list mb-5">
              <dt class="list-label">本サービス</dt>
              <dd class="list-content">
                当社が提供する技術情報共有サイトMUSIQUEをいいます。
              </dd>

              <dt class="list-label">本アカウント</dt>
              <dd class="list-content">
                本サービスを利用するために必要なMUSIQUEアカウントをいいます。
              </dd>

              <dt class="list-label">登録ユーザー</dt>
              <dd class="list-content">
                MUSIQUEアカウントを有する本サービスの利用者をいいます。
              </dd>

              <dt class="list-label">本規約</dt>
              <dd class="list-content">
                本サービスの利用に関する条件を、登録ユーザーと当社との間で定める
                「MUSIQUE利用規約」をいいます。
              </dd>

              <dt class="list-label">登録情報</dt>
              <dd class="list-content">
                本アカウント取得時に当社が指定して登録いただく、
                登録ユーザー自身に関する情報をいいます。
              </dd>

              <dt class="list-label">本ユーザー資格</dt>
              <dd class="list-content">
                登録ユーザーが、本サービス上で有する資格をいい、具体的には本サービス上での
                記事投稿等の各種機能を使用することができることをいいます。
              </dd>

              <dt class="list-label">投稿内容</dt>
              <dd class="list-content">
                本サービスを利用して登録ユーザーが投稿した投稿、
                公開プロフィールの自己紹介などのテキストデータ、画像、
                動画・音声ファイルを含む、本サービス上に投稿されたデータの総称をいいます。
              </dd>

              <dt class="list-label">外部サービス</dt>
              <dd class="list-content">
                Twitter、Googleなど、当社がその利用を承認し、
                又は連携する認証システムを有するサービスの総称をいいます。
              </dd>
            </dl>
          </div>
          <h3>第2条（適用範囲・利用規約の変更）</h3>
          <ol>
            <li>
              本規約は、登録ユーザーと当社の間における、
              本サービスの利用につき生じるすべての法律関係に適用されます。
              登録ユーザーは本規約に同意のうえ本サービスを利用するものとします。
            </li>
            <li>
              登録ユーザーが本アカウントの登録を行った場合、
              本規約に同意したものとみなします。
            </li>
            <li>
              当社は、次のいずれかに該当する場合、登録ユーザーの承諾を得ることなく
              本規約の内容を変更（追加を含む）できるものとします。<br>
              <br>
              ・本規約の変更が、登録ユーザーの一般の利益に適合するとき。<br>
              <br>
              ・本規約の変更が、登録ユーザーが本サービスの利用登録をした目的に反せず、
              かつ、変更の必要性、変更後の内容の相当性、
              変更の内容その他の変更に係る事情に照らして合理的なものであるとき。
            </li>
            <li>
              当社は、本規約の変更を行う場合、変更した規約の効力発生日より1週間前までに、
              本規約を変更すること及び、変更後の規約の内容及び効力発生日を、MUSIQUE内で開示します。
            </li>
            <li>
              変更後の規約の効力発生日以降に登録ユーザーが本サービスを利用した場合は、
              本規約の変更に同意したものとみなします。
            </li>
          </ol>

          <h2>第二章: 本サービスの利用について</h2>
          <h3>第3条（利用登録）</h3>
          <ol>
            <li>
              本サービスを登録ユーザーとして利用することを希望する者は、
              本サービスに利用登録のうえ本アカウントを取得するものとします。
            </li>
            <li>
              登録ユーザーは1人につき唯一のアカウントを保有できるものとします。
            </li>
            <li>
              登録ユーザーは、会員情報の登録時及び登録後も、自らの会員情報を
              最新、完全、かつ正確に保つこととし、登録情報に変更が生じた場合、
              速やかに情報を更新するものとします。
            </li>
          </ol>
          <h3>第4条（ユーザー名とパスワード）</h3>
          <ol>
            <li>
              登録ユーザーは、設定した自らのユーザー名とログインパスワード
              の管理を自己の責任で行います。
            </li>
            <li>
              ユーザー名及びログインパスワードを利用して行われた行為は、
              当該ユーザー名及びパスワードを有する登録ユーザーが行ったものとみなします。
            </li>
            <li>
              ユーザー名とログインパスワードは、当該登録ユーザー個人に属するものであり、
              登録時点とは異なる個人又は法人その他の団体に譲渡又は貸与することを禁止します。
            </li>
            <li>
              登録ユーザーは、ユーザー名やログインパスワードが第三者に漏洩した場合、
              第三者に利用された場合又はこれらの恐れがある場合は直ちに当社に連絡するものとします。
              なお、登録ユーザーの作為又は不作為を原因として不正なユーザー名や
              ログインパスワードが使用された結果発生した損失、損害について、
              当社では一切責任を負わず、賠償しません。
            </li>
            <li>
              登録ユーザーが外部サービスのID等を利用して本サービスに登録した場合、
              そのID等の登録、利用については、外部サービスが規定する各規約の定め
              に従うものとし、当社はその内容について責任を負いません。
            </li>
          </ol>
          <hr>

          <ul>
            <li>2023年 7月25日 制定</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
