<h1>パスワードの再設定</h1>

<p><%= @user.name %> 様</p>

<p>
  <br>
  いつもMUSIQUEをご利用いただきありがとうございます。<br>
  <br>
  下記リンクにアクセスし、パスワードの再設定を行ってください。<br>
  <br>
</p>

<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token,
                                                          email: @user.email) %>

<small>
  <br>
  <br>
  ※有効期限は2時間となっております。<br>
  過ぎてしまった場合は、お手数ですが再度お試しください。<br>
  <br>
  ※本メールに心当たりがない場合は、何も操作しないでください。<br>
  その際、<%= @user.name %>様パスワードは変更されません。
</small>
