<% provide(:title, "ストック記事") %>

<div class="row">
  <%= render "users/user_info_side" %>

  <div class="col-md-8">
    <% if @posts.any? %>
      <h3>
        <%= @posts.count %>
        件のストック記事
      </h3>
      <ol class="posts">
        <%= render "posts/post_for_search" %>
      </ol>
      <%= will_paginate @posts %>
    <% else %>
      <h3>０件のストック記事</h3>
      <p class="border-top p-5 text-center">ストックしている記事はまだありません</p>
    <% end %>
  </div>
</div>
