<li>
  <%= image_tag user.image.attached? ? user.image : "default_icon.png",size: "100x100", alt: "アイコン画像" %>
  <%= link_to user.name, user %>
  <% if @current_user.admin? %>
    | <%= link_to "ユーザーの削除", user, data: { "turbo-method": :delete,
                                        turbo_confirm: "You sure?" } %>
  <% end %>
</li>
