<% @user ||= current_user %>

<div class="stats overflow-auto d-flex align-items-center justify-content-center">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="d-block text-center">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>", class="border-start">
    <strong id="followers" class="d-block text-center">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>
