@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

:root {
  --base:         #3c3c3c;
  --primary:      #0f7af4;
  --purple:       #c89fff;
  --header-hover: #bebebe;
  --footer:       #3c3c3c;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 120px;
  line-height: 1.7;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.pagination em {
  font-size: 1.2em;
  padding: 0 10px;
  border-right: 1px solid var(--base);
}

.pagination a {
  font-size: 1.2em;
  padding: 0 10px;
  border-right: 1px solid var(--base);
}

.pagination .next_page {
  display: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* header */

.logo {
  float: left;
  font-size: 2.2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.logo:hover {
  text-decoration: none;
  color: var(--header-hover);
}

#keyword {
  display: inline-block;
}

@media (min-width: 992px) {
  #navbar-menu {
  display: flex !important;
  justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .navbar .container {
    display: block;
  }
}

.flexbox {
  form {
  display: flex;
  flex-direction: row;
  text-align: center;
  }
}

.btn-outline-success {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}

.navbar-menu {
  color: white !important;
  &:hover {
    color: var(--header-hover) !important;
  }
}

.dropdown-menu {
  position: absolute !important;
}

/* footer */

footer .logo {
  color: var(--footer);
  font-size: 1.8em;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

footer li a {
  color: var(--footer) !important;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats a {
  float: left;
  padding: 0 15px;
  color: gray;
}

.stats a:hover {
  text-decoration: none;
  color: #4b4b4b;
}


.user_avatars {
  overflow: auto;
  margin-top: 10px;
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.sidebar-ads .ad-box {
  width: 90%;
  min-height: 250px;
  margin: 80px 0 ;
  background-size: cover;
  background-position: center;
  position: relative;
}

.sidebar-ads .box-1 {
  background-image: image-url("MUSIQUE_AD_sample1.png");
}

.sidebar-ads .box-2 {
  background-image: image-url("MUSIQUE_AD_sample2.png");
}

.ad-box p {
  color: #c3c3c3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*--------------------------------------------------------------
# posts Section
--------------------------------------------------------------*/

.post-title {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 30px 0;
  text-align: center;
}

@media (min-width: 991px) {
  .about .col-lg-7 h2 {
    max-width: 65%;
    margin: 80px 0;
  }
}

.about .our-story {
  padding: 40px;
  background-color: #f5f6f7;
}

@media (min-width: 991px) {
  .about .our-story {
    padding-right: 35%;
  }
}

.about .our-story h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #838893;
}

.about .our-story h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about .our-story p:last-child {
  margin-bottom: 0;
}

.about ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.about ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.about ul i {
  font-size: 20px;
  margin-right: 4px;
}

.about .about-img {
  min-height: 600px;
  background-image: image-url("about.jpg");
  background-size: cover;
  background-position: center;
  z-index: 10;
  position: relative;
}

.about .about-img::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@media (min-width: 992px) {
  .about .about-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.explanation h2 {
  font-size: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}

.explanation h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: var(--base);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.explanation .explanation-text {
  margin-bottom: 80px;
}

.explanation .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: var(--base);
  border: 2px solid var(--base);
}

.explanation .btn-get-started:hover {
  background: var(--base);
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Terms and Privacy Section
--------------------------------------------------------------*/
.terms-privacy h2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  text-align: left;
}

.terms-privacy h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #bebebe;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.terms-privacy ol {
  margin-bottom: 50px;
}

.terms-privacy ol li {
  margin: 15px 0;
}

.terms-privacy hr {
  margin: 50px 0;
}

.privacy-text {
  font-size: 14px;
  margin-top: 20px;
}

/*--------------------------------------------------------------
# Help Section
--------------------------------------------------------------*/
#help h1 {
  margin-bottom: 70px;
}

#help dt {
  font-size: 18px;
	background: var(--base);
	color: #f7f7f7;
	padding: 8px;
	border-radius: 2px;
}
#help dt:before {
	content: "Q.";
	font-weight: bold;
	margin-right: 8px;
}
#help dd {
	margin: 24px 16px 40px 32px;
	line-height: 140%;
	text-indent: -24px;
}
#help dd:before {
	content: "A.";
	font-weight: bold;
	margin-right: 10px;
}

/*--------------------------------------------------------------
# Company Section
--------------------------------------------------------------*/

.company .article {
  border: 1px solid #eee;
  margin: 20px 0;
  padding: 30px;
}

.definition-list .list-label {
  margin-bottom: 10px;
  color: var(--base);
  font-size: 90%;
  font-weight: normal;
}

.definition-list .list-content {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: var(--base);
}

.list-content:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.google-login iframe {
  margin: 0 auto !important;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .post-image {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}
